
body
{
    margin: 20px 20px 50px 20px;
    background-color: black;
    color: rgb(0, 255, 0);
    font-family:"VT323", monospace;
    /*font-size:20px;*/
    font-size:25px;
}
.show-inside
{
    transition:all 1s;
    background-color: white;
    color:black;
}
body p
{
    margin:0;
    /*line-height: 1.25em;*/
}
#hints p
{
    line-height: 1.5em;
}
.center
{
    text-align:center;
}
.center-img
{
    display:block;
    margin:0 auto 0 auto;
}
.pixelated-img
{
    image-rendering: pixelated;
}
#hints
{
    /*display:none;*/
    transition: opacity 1s 0.5s linear;
    opacity:0;
}
.hints-show
{
    /*display:block !important;*/
    opacity:1 !important;
}
.vital
{
    color:rgb(192, 0, 0);
}